# 30.72 MHz On-Board Oscillator (replace with your board's clock pin)
set_io clk        37

# Dedicated iCE40UP5K RGB Driver Pins (SG48 Package)
set_io led_red   39
set_io led_yellow  40
set_io led_green    41
